/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 button {
   width: 150px;
   height: 30px;
   text-align: center;
   border-radius: 20px;
   border: 2px solid cornsilk;
 }

  div#modal {
   z-index: 10;
   background: rgba(0,0,0,.8);
   color: whitesmoke;
   display:none;
   /*left:30%;*/
   /*top:20%;*/
  }

.modalAttack{
  padding: 0;
  margin: 0;
}

.modalSwitch{
  padding:0;
  margin:0;
}

#gameConsole{
  padding: 5px 5px;
  border: 35px solid transparent;
  border-bottom: 300px solid transparent;
  /*border-color:black;*/
  -moz-border-image:url("/assets/border.png") 90 25 stretch; /* Old Firefox */
  -webkit-border-image:url("/assets/border.png") 90 25 stretch; /* Safari */
  -o-border-image:url("/assets/border.png") 90 25 stretch; /* Opera */
  border-image:url("/assets/border.png") 90 25 stretch;
  /*text-align:center;*/
}

 #options, #myPokemonAttackArray, #myPokemonArray, #items{
   position:relative;
   margin-top:100px;
   /*top:87%;
   left:24%;*/
 }

 .textarea{
   margin-top:60px;
 }

 #pokemonOpponent{
   margin-top:0;
   padding-top:0;
 }

 #myPokemonOut{
   margin-top:20px;
 }
