<div id="map-canvas" style="width: 400px;height: 500px;"></div>

<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

<input type="filepicker" data-fp-apikey="<%= ENV["FILEPICKER_POKEMON"] %>" data-fp-mimetypes="*/*" data-fp-container="modal" onchange="alert(event.fpfile.url)">

<script>
$(function(){
  var me = new Me(1);
  game.stage.push(me);

// var map = $('<div>').attr('id','map-canvas').css({"width":"900px","height":"900px"});
// $('body').appendTo(map);
});

var gameStart= function(){
  if (!$('div#gameConsole').is(':visible')){
    loadGameDiv();
  }
  game.start(this.pokemon);
  game.assign();
  game.checkFirstMove();

  deleteLocation = locations.splice(this.index,1);
  console.log(locations);
  // indexes = $.map(list, function(obj, index) {
  //   if(obj.prop2 == "yutu") {
  //     return index;
  //   }
  // })
  //
  // firstIndex = indexes[0]
  this.setMap(null);
  }


var loadGameDiv = function() {

  var gameDiv = $('<div>').attr('id','gameConsole').css({"width":"400px","height":"500px","background-color":"red"});

  var myName = $('<label>').addClass('me').attr('id','me')
  var myPokemonName = $('<label>').addClass('me').attr('id','myPokemonName');
  var myPokemonImageTag = $('<img>').addClass('me').attr('id','myPokemon');
  var myPokemonImageHp = $('<label>').addClass('me').attr('id','myPokemonHp');

  var pokemonName= $('<label>').addClass('pokeOpponent').attr('id','pokeName');
  var pokemonImageTag = $('<img>').addClass('pokeOpponent').attr('id','pokeImg');
  var pokemonHp = $('<label>').addClass('pokeOpponent').attr('id','pokeHp');

  var pokemonOpponentDiv = $('<div>').attr('id','pokemonOpponent');
  var myPokemonDiv = $('<div>').attr('id','myPokemonOut').css({"width":"10%","height":"20%",});


  pokemonName.appendTo(pokemonOpponentDiv);
  pokemonImageTag.appendTo(pokemonOpponentDiv);
  pokemonHp.appendTo(pokemonOpponentDiv);
  myName.appendTo(myPokemonDiv);
  myPokemonName.appendTo(myPokemonDiv);
  myPokemonImageTag.appendTo(myPokemonDiv);
  myPokemonImageHp.appendTo(myPokemonDiv);
  pokemonOpponentDiv.appendTo(gameDiv);
  myPokemonDiv.appendTo(gameDiv);
  loadOptionDiv(gameDiv);

  gameDiv.appendTo('body');


}

var loadOptionDiv = function(gameDiv){
  var optionDiv = $('<div>').attr('id','options').css({"width":"90%","height":"20%",});
  var attackButton = $('<button>').addClass('option').attr('id', 'attack').text('Attack');
  var switchButton = $('<button>').addClass('option').attr('id', 'switch').text('PKMN');
  var itemButton = $('<button>').addClass('option').attr('id', 'item').text('Items');
  var fleeButton = $('<button>').addClass('option').attr('id', 'flee').text('Flee');

  optionDiv.append(attackButton).append(switchButton).append(itemButton).append(fleeButton);
  (optionDiv).appendTo(gameDiv);

  $(optionDiv).on('click','button#attack',loadGameAttack);
  $(optionDiv).on('click','button#switch',loadGameSwitch);
  $(optionDiv).on('click','button#item','');
  $(optionDiv).on('click','button#flee',function(){
    $('div#gameConsole').remove();
  });
}

var loadGameSwitch = function(){
  var allMyPokemonDiv = $('<div>').attr('id','myPokemonArray');
  for (var i =0; i < game.stage[0].pokemons.length; i++){
    var pokeButton = $('<button>').addClass('pokemonB').attr('id', i).text(game.stage[0].pokemons[i].name.toUpperCase());
    (pokeButton).appendTo(allMyPokemonDiv);
  }

  $('div#options').replaceWith(allMyPokemonDiv);
  $(allMyPokemonDiv).on('click','button.pokemonB',gameSwitch);
}

var loadGameAttack = function(){
  var myPokemonAttackDiv = $('<div>').attr('id','myPokemonAttackArray');
  for (var i =0; i < game.pokemonOutMoves.length; i++){
    var attackButtons = $('<button>').addClass('pokemonAttack').attr('id', i).text(game.pokemonOutMoves[i].name);
    (attackButtons).appendTo(myPokemonAttackDiv);
  }

  $('div#options').replaceWith(myPokemonAttackDiv);
  $(myPokemonAttackDiv).on('click','button.pokemonAttack',gameAttack);

}

var gameSwitch = function(){
  game.stage[0].pokeswitch(parseInt(this.id));
  $('div#myPokemonArray').hide();
  loadOptionDiv($('div#gameConsole'));
}

var gameAttack = function(){
  game.attackPhase(this.id);
  $('div#myPokemonAttackArray').hide();
  loadOptionDiv($('div#gameConsole'));
}

</script>
